
@import "../../styles/base.scss";


.box {
  color:$textColor;
  height: $topTitleHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $layoutWidth;
  margin: 0 auto;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
  }
}