/*
 * @Descripttion: 
 * @version: 
 * @Author: Hao
 * @Date: 2023-04-16 16:52:13
 * @LastEditors: Hao
 * @LastEditTime: 2023-04-16 16:52:24
 * @FilePath: \wlog\src\App.scss
 */

 .AppBox {
    font-family: 'dengxian';
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .bg{
    bg
  }

  .bg0 {
    background-image: url(./imgs/bg0.webp);
  }
  .bg1 {
    background-image: url(./imgs/bg1.webp);
  }
  .bg2 {
    background-image: url(./imgs/bg2.webp);
  }
  