@import '../../styles/base.scss';
@import '../../styles/style.scss';


.card{
    margin-bottom: $space;
    border-bottom: $bigRadius;
    overflow: hidden;
    background-color: $themeColor;
    color: $textColor;
    padding:$space;
    @extend .trans;
}

.center{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.active:hover{
    transform: scale(1.1);
}