
@import '../../../styles/base.scss';

.card{
    height:200px;


    .text{
        font-size: 20px;
        color: $textColor;
    }
    
    .color{
        font
        color:$hoverColor;
    }
}

